/* estilos body about*/
  body {
  background-color: white;
}

/* estilo imagenes about*/
.img-fluide{
	width: 80% !important;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("/img/back.svg");
  opacity: 0.2;
}
  
/* ESTILO LETRA ABOUT US*/
.text-ab{
	font-size: 1.2vw;
}

.div-1{
	padding: 20px;
	background-color: white;
	border-radius: 20px;
	box-shadow: -5px 5px 5px lightgray,
    5px 0px 5px lightgray;  
	
}

  @media only screen and (max-width: 999px) {
.text-ab{
	font-size: 1.5vw;
}
	

	
	}
