.img-about{
	width: 50% !important;
}

body {
  background-color: white;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("/img/back.svg");
  opacity: 0.1;
}

.text-ab{
	font-size: 1vw;
}
