





.card-dash{
	border-radius: 10px;
    height: 150px;
    border: none;
}

.bg-gradient-green {
    background: linear-gradient(to right, #0a504a, #38ef7d);

}

.bg-gradient-blue {
    background: linear-gradient(to right, #373b44, #4286f4);

}

.bg-gradient-pink {
    background: linear-gradient(to right, #493240, #f09);

}

.bg-gradient-orange {
    background: linear-gradient(to right, #a86008, #ffba56);
}

.crud{
	width: 50%
}

.texto-negro{
	color: black;
}

.buton-search{
	background-color: white;
	border-radius: 20px;
	width: 30px;
	border: none;
	height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

}

.buton-search:hover{
		background-color: gray;
}

.crud{
	width: 100px;
}

input{
	height: 100%;
	width: 100%;
	margin-right: 50px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
	border-radius: 10px;
	color: white;
}

input:focus {
  outline: none;
}

form{
	height: 100%;
	width: 100%;
	position: relative;
	
}




table {
	text-align: center;
	
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}



td{
	margin-top:10px;
}