
/* FONDO DEL REGISTER */
.login_back{
    background-image: url("/img/login_back.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
}

/* TITULO */
.log-title{
	    font-family: "NewYork", Courier, monospace;
}

/* ESTILOS DEL FORMULARIO*/
.login_pane{
    width: 50%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}

form{
	padding:50px;
}

/* IMAGEN LADO FORM*/
.img-form{
    background-image: url("/img/log_reg/register_form.png");
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
}

.form-text{
	border: none;
    border-bottom: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* ESTILOS DEL BOTON SUBMIT*/
.log-button{
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    transition: 0.3s;
    width:100%;
    
}

.log-button:hover{
    background-color: #252323;
    color: white;
}

.register{
	color: gray;
}

.register:hover{
    color: black;
        text-decoration:  none;
}

#date{
    width: 100%;
}

@media (max-width: 767px) {
    .img-form {
      order: -1;
    }
    
    .img-form{
    border-radius: 0;
    height: 20%;
}
  }