 <div class="row">
            <hr class="col">
            <div class="col d-flex flex-row justify-content-around">


                <div class="text-center">
                    <a href="https://www.facebook.com"><img th:src="@{/img/icons/facebook.svg}" alt="facebook icon" class="img-fluid"></a>
                </div>
                <div class="text-center">
                    <a href="https://www.instagram.com"><img th:src="@{/img/icons/instagram.svg}" alt="instagram icon" class="img-fluid"></a>
                </div>
                <div class="text-center">
                    <a href="https://www.youtube.com"><img th:src="@{/img/icons/youtube.svg}" alt="youtube icon" class="img-fluid"></a>
                </div>
            </div>
            <hr class="col">
        </div>
        <div class="row footer_2">
            <div class="col text-center">
                <ul>
                    <li class="footer_link footer_li"><a th:href="@{/}">Home</a></li>
                    <li class="footer_link footer_li"><a th:href="@{/products}">Products</a></li>
                </ul>
            </div>
            <div class="col text-center">
                <img class="logo-footer" th:src="@{/img/home_img/logo.png}" alt="logo">
            </div>
            <div class="col text-center">
                <ul>
                    <li class="footer_link footer_li"><a th:href="@{/cart}">Cart</a></li>
                    <li class="footer_link footer_li"><a th:href="@{/about}">About</a></li>
                </ul>
            </div>
        </div>