
        <div class="nba-store">
            <h1 th:text="${title}">NBA STORE</h1>
            <button>Explore</button>
        </div>
        <img class="hero-img" src="/img/home_img/hero.png" alt="">



        <nav class="navbar navbar-expand-lg navbar-light prueba">
            <a class="navbar-brand d-lg-none mr-5" href="#"><img class="logo-img text-center"
                    th:src="@{/img/home_img/logo.png}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler7"
                aria-controls="myNavbarToggler7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="" role="button"><i class="fa fa-bars" aria-hidden="true" style="color:#e6e6ff"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="myNavbarToggler7">
                <ul class="navbar-nav mx-auto nav-list">
                    <li class="nav-item">
                        <a class="nav-link nav-buttons" th:href="@{/products}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-buttons" th:href="@{/cart}">Cart</a>
                    </li>
                    	<a class="d-none d-lg-block text-center" th:href="@{/}"><img class="logo-img" th:src="@{/img/home_img/logo.png}"></a>
                    <li class="nav-item">
                        <a class="nav-link nav-buttons" th:href="@{/about}">About</a>
                    </li>
                    <li class="nav-item  d-flex align-items-center justify-content-center">
					  <div class="dropdown">
					    <button class="btn btn-secondary nav-buttons dropdown-toggle" type="button" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					      <span th:if="${#httpServletRequest.userPrincipal != null}"><span th:text="${#httpServletRequest.userPrincipal.name}"></span></span>
					      <span th:unless="${#httpServletRequest.userPrincipal != null}">Entrar</span>
					    </button>
					    <div class="dropdown-menu" aria-labelledby="profileDropdown">
						  <a class="dropdown-item" th:href="@{/admin/users}" th:if="${#httpServletRequest.userPrincipal != null}" sec:authorize="hasAuthority('ADMIN')">Panel de Admin</a>
					      <a class="dropdown-item" th:href="@{/test/logout}" th:if="${#httpServletRequest.userPrincipal != null}">Cerrar sesión</a>
					      <a class="dropdown-item" th:href="@{/login}" th:unless="${#httpServletRequest.userPrincipal != null}">Entrar</a>
					      <a class="dropdown-item" th:href="@{/register}" th:unless="${#httpServletRequest.userPrincipal != null}">Registrarse</a>
					    </div>
					  </div>                        
                    </li>
                </ul>
            </div>
        </nav>
