        <div class="logo_bar">
            <a th:href="@{/}">
            <img th:src="@{/img/home_img/logo.png}" class="logo" alt=""></a>
            <i class="fas fa-bars" id="btn"></i>
            
        </div>
        <ul class="lista">

            <li>
                <a th:href="@{/admin/users}">
                    <i class="fas fa-user"></i>
                    <span class="link">User</span>
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="fas fa-box"></i>
                    <span class="link">Brands</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-shirt"></i>
                    <span class="link">products</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-brands fa-product-hunt"></i>
                    <span class="link">Pedidos</span>
                </a>
            </li>
            
            <li>
                <a th:href="@{/test/logout}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="link">Log Out</span>
                </a>
            </li>



        </ul>
