        <div class="logo_bar">
            <img th:src="@{/img/home_img/logo.png}" class="logo" alt="">
            <i class="fas fa-bars" id="btn"></i>
        </div>
        <ul class="lista">

            <li>
                <a href="#">
                    <i class="fas fa-user"></i>
                    <span class="link">User</span>
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="fas fa-box"></i>
                    <span class="link">Categories</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-shirt"></i>
                    <span class="link">Categories</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-brands fa-product-hunt"></i>
                    <span class="link">Pedidos</span>
                </a>
            </li>



        </ul>
