<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/home/homepage.css}">
    <link rel="stylesheet" th:href="@{/css/about.css}">
    <link rel="stylesheet" th:href="@{/css/footer/footer_style.css}">


</head>
<body>

    <div class="container-fluid head-hero" th:insert="/fragment/hero"></div>

    
        <div class="container mt-5 mb-5">
      <div class="row div-1 mb-5">
        <div class="col-sm-6 d-flex justify-content-center">
          <img th:src="@{/img/aboutUs/about_img2.png}" alt="Foto de la empresa" class="img-about img-fluid">
        </div>
        <div class="col-sm-6 d-flex">
          <p class="text-center align-self-center text-ab">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra justo ac sem bibendum, ut placerat lorem suscipit. Nulla eget ipsum elit. Sed volutpat velit vel metus tincidunt, sed volutpat risus tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra justo ac sem bibendum, ut placerat lorem suscipit. Nulla eget ipsum elit. Sed volutpat velit vel metus tincidunt, sed volutpat risus tristique.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra justo ac sem bibendum, ut placerat lorem suscipit. Nulla eget ipsum elit. Sed volutpat velit vel metus tincidunt, sed volutpat risus tristique.</p>
        </div>
      </div>
      <div class="row div-1">
        <div class="col-sm-6 d-flex">
<p class="text-center align-self-center text-ab">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra justo ac sem bibendum, ut placerat lorem suscipit. Nulla eget ipsum elit. Sed volutpat velit vel metus tincidunt, sed volutpat risus tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra justo ac sem bibendum, ut placerat lorem suscipit. Nulla eget ipsum elit. Sed volutpat velit vel metus tincidunt, sed volutpat risus tristique.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra justo ac sem bibendum, ut placerat lorem suscipit. Nulla eget ipsum elit. Sed volutpat velit vel metus tincidunt, sed volutpat risus tristique.</p>
                </div>
        <div class="col-sm-6 d-flex justify-content-center" >
          <img th:src="@{/img/aboutUs/about_img1.png}" alt="Imagen de la empresa" class="img-about img-fluid">
        </div>
      </div>
    </div>
    
    
    <footer th:insert="/fragment/footer"></footer>

</body>
</html>