<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset=UTF-8>
    <title>Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/home/homepage.css}">
    <link rel="stylesheet" th:href="@{/css/home/featured.css}">
    <link rel="stylesheet" th:href="@{/css/home/large_gender.css}">
    <link rel="stylesheet" th:href="@{/css/footer/footer_style.css}">
	<link rel="icon" type="image/x-icon" th:href="@{/img/home_img/logo.png}">

</head>

<body>

    <div class="container-fluid head-hero" th:insert="/fragment/hero"></div>


    <div class="featured-title">
        <h2 class="text-center">FEATURED</h2>
        <div class=" cards row d-flex justify-content-around">
            <a th:each="producto : ${prods}" th:href="@{/detail/{name} (name=${producto.nombre})}">
                <div class="card">
                    <div class="test d-flex ">
                        <img class="card-img-top align-self-center featured-image" th:src="${producto.product_image}"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${producto.nombre}"></h5>
                        <p th:text="${#numbers.formatCurrency(producto.precio)}"></p>

                    </div>
                </div>

            </a>

        </div>
    </div>

    <div class="divimg mt-3">
        <img class="large" src="/img/home_img/large.png" alt="Large image">
    </div>

    <div class="row mt-2" id='div3'>
        <button class="split-pane col-xs-12 col-lg-6 left-side" th:onclick="window.location.href='/man'">
            <div>
                <div class="text-content">
                    <div class="big">Men</div>
                </div>
            </div>
        </button>

        <button class="split-pane col-xs-12 col-lg-6 right-side" th:onclick="window.location.href='/woman'">
            <div>
                <div class="text-content">
                    <div class="big">Women</div>
                </div>
            </div>
        </button>
    </div>

    <div class="newsLetter text-center">
        <h2>NewsLetter</h2>
        <p>Learn more about us and our passion for basketball by visiting our About Us page. Step inside and discover
            the heart behind [Store Name].</p>
        <a th:href="@{/about}"><button>Explore</button></a>
    </div>

    <footer th:insert="/fragment/footer"></footer>





    <script th:src="@{/js/home.js}"></script>

</body>

</html>