<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/home/homepage.css}">
    <link rel="stylesheet" th:href="@{/css/home/featured.css}">
    <link rel="stylesheet" th:href="@{/css/home/large_gender.css}">
    <link rel="stylesheet" th:href="@{/css/footer/footer_style.css}">

</head>

<body>

    <div class="container-fluid">

        <div class="nba-store">
            <h1>NBA STORE</h1>
            <button>Explore</button>
        </div>
        <img class="hero-img" src="/img/home_img/hero.png" alt="">



        <nav class="navbar navbar-expand-lg navbar-light prueba">
            <a class="navbar-brand d-lg-none mr-5" href="#"><img class="logo-img"
                    th:src="@{/img/home_img/logo.png}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler7"
                aria-controls="myNavbarToggler7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="" role="button"><i class="fa fa-bars" aria-hidden="true" style="color:#e6e6ff"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="myNavbarToggler7">
                <ul class="navbar-nav mx-auto nav-list">
                    <li class="nav-item">
                        <a class="nav-link nav-buttons" href="#">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-buttons" href="#">Products</a>
                    </li>
                    <a class="d-none d-lg-block " href="#"><img class="logo-img" th:src="@{/img/home_img/logo.png}"></a>
                    <li class="nav-item">
                        <a class="nav-link nav-buttons" href="#">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-buttons" href="#">Profile</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="featured-title">
        <h2 class="text-center">FEATURED</h2>
        <div class=" cards row d-flex justify-content-around">

            <div class="card">
                <img class="card-img-top featured-image" th:src="@{/img/home_img/lv_nba.webp}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p>2000$</p>

                </div>
            </div>

            <div class="card">
                <img class="card-img-top featured-image" th:src="@{/img/home_img/lv_nba.webp}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p>2000$</p>

                </div>
            </div>

            <div class="card">
                <img class="card-img-top featured-image" th:src="@{/img/home_img/lv_nba.webp}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p>2000$</p>

                </div>
            </div>

            <div class="card">
                <img class="card-img-top featured-image" th:src="@{/img/home_img/lv_nba.webp}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p>2000$</p>
                </div>
            </div>

        </div>
    </div>

    <div class="divimg mt-3">
        <img class="large" src="/img/home_img/large.png" alt="">
    </div>

    <div class="row mt-2" id='div3'>
        <button class="split-pane col-xs-12 col-lg-6 left-side">
            <div>
                <div class="text-content">
                    <div class="big">Men</div>
                </div>
            </div>
        </button>

        <button class="split-pane col-xs-12 col-lg-6 right-side">
            <div>
                <div class="text-content">
                    <div class="big">Women</div>
                </div>
            </div>
        </button>
    </div>

    <div class="newsLetter text-center">
        <h2>NewsLetter</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
        <button>Explore</button>
    </div>

    <footer>
        <div class="row">
            <hr class="col">
            <div class="col d-flex flex-row justify-content-around">


                <div class="text-center">
                    <img th:src="@{/img/icons/facebook.svg}" alt="" class="img-fluid">
                </div>
                <div class="text-center">
                    <img th:src="@{/img/icons/instagram.svg}" alt="" class="img-fluid">
                </div>
                <div class="text-center">
                    <img th:src="@{/img/icons/youtube.svg}" alt="" class="img-fluid">
                </div>
            </div>
            <hr class="col">
        </div>
    </footer>





    <script th:src="@{/js/home.js}"></script>

</body>

</html>