<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">



    <link rel="stylesheet" th:href="@{/css/home/homepage.css}">
    <link rel="stylesheet" th:href="@{/css/footer/footer_style.css}">
    <link rel="stylesheet" th:href="@{/css/products/detail.css}">

</head>

<body>

    <div class="container-fluid head-hero" th:insert="/fragment/hero"></div>



    
        <div class="container-fluid p-5 row">
        <div class="row detail">
        
        <div class="col-md-5 p-5 d-flex justify-content-center align-content-center xd">
            <img class="prod_img" th:src="${product.product_image}" alt="">
        </div>

        <div class="col d-flex flex-column p-5">
            <div class="brand-shop">
                <h3 class="brand ml-5 mt-1" th:text="${product.marca.nombre}"></h3>
                <button class="btn-cart align-self-end mr-5"><i class="bi bi-cart"></i></button>
            </div>
            <hr class="ml-5 text-left">

            <div class="p-5 align-content-center">
                <h2 th:text="${product.nombre}"></h2>
                <p th:text="'$' + ${product.precio}"></p>
                <hr class="text-left">
                <br>
                <p th:text="${product.descripcion}"></p>
                <div class="button-shop">
    			<button class="buy" th:data-product-id="${product.id}" >Buy</button>
                    </div>
                </div>
            </div>


</div>
        </div>

    <div class="comment-section">
        <h2>Comments</h2>
        <form th:action="@{/saveComent}" method="post">
	      <input type="hidden" th:field="*{product.nombre}" th:name="nombre" id="nombre">
        
          <label for="comment">Coment:</label>
          <textarea id="comentario" th:name="comentario" required></textarea>
          <button type="submit">Send</button>
        </form>
        <div class="comments mt-5">
          <div class="comment" th:each="coment: ${comentList}">
            <h3 th:text="${coment.usuario}"></h3>
            <p th:text="${coment.comentario}"></p>
          </div>
          
          
          
          
        </div>
      </div>
      
      <div id="toastContainer"></div>
      
      


    <footer th:insert="/fragment/footer"></footer>

    <script th:src="@{/js/home.js}"></script>
    <script th:src="@{/js/cart.js}"></script>
    
    <script type="text/javascript">
    
    </script>

</body>

</html>