/* SOMBRA DEL DETALLE*/
.prod_img{
    width: 100%;
    -webkit-filter: drop-shadow(10px 10px 10px gray);
    filter: drop-shadow(10px 10px 10px gray);
    
  }

/* FONDO DE DETAIL*/
  .back_det{
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.319), white), url("/img/back_detail.png");  
    max-height: 650px;
}

/* SOMBRA DEL DOV DE DETALLE*/
.detail{
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* ESTILOS BOTON CARRITO*/
.btn-cart{
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 40px;
    border: 1px solid black;
}

.btn-cart:hover{
    background-color: black;
    color: white;
    transition: 0.3s ease;

    border: 0;
}

hr{
    width: 50px;
    background-color: black;
    margin: 0;
}

.buy{
    border: 1px solid black;
    width: 200px;
    height: 50px;
    background-color: transparent;
}

/* ESTILO DEL BOTON COMPRAR*/
.buy:hover{
    transition: 0.3s ease;
    background-color: black;
    color: white;
}


.button-shop{
    display: flex;
    justify-content: space-between;
}

.brand-shop{
    display: flex;
    justify-content: space-between;    
}









/* ESTILOS SECCION DE COMENTARIOS*/
.comment-section {
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input, form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .comments {
    max-height: 300px;
    overflow-y: scroll;
  }
  
  .comment {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color:white;
    margin-bottom: 10px;
  }
  
  .comment h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .comment p {
    font-size: 16px;
    margin: 0;
  }
  



