.card {
    border: none;
    box-shadow: -5px 5px 5px lightgray,
    5px 0px 5px lightgray;    
    transition: 0.5s all ease-in-out;
    width: fit-content;
    margin: 10px;
    cursor: pointer;
}

.cards{
    margin-top:1%;
}

.featured-image{
    width: 300px;
    padding: 10px;
}

.card:hover{
    transform: scale(1.05);

}

.featured-title{
    margin-top:1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}




  @media only screen and (max-width: 999px) {

}
