<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Admin Pane</title>
	<link rel="icon" type="image/x-icon" th:href="@{/img/home_img/logo.png}">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/02506372be.js" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/sidebar.css}">
<link rel="stylesheet" th:href="@{/css/admin.css}">
<link rel="stylesheet" th:href="@{/css/addprod.css}">
</head>
<body>
    <div class="sidebar" th:insert="/fragment/sidebar"></div>

    <div class="content p-5 d-flex flex-column">

        <h2 class="text-black text-center m-5"><i class="fa fa-circle-plus mr-4"></i>Add Product</h2>
        
        <form class="formprod p-5 align-self-center" th:action="@{/admin/saveProd}" method="post" enctype="multipart/form-data" th:object="${product}">

			<div th:if="${success}" class="alert alert-success" role="alert">
			    <p th:text="${success}"></p>
			</div>
			<div th:if="${error}" class="alert alert-danger" role="alert">
			    <p th:text="${error}"></p>
			</div>           
			<input type="hidden" th:field="*{id}" id="id">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" th:field="*{nombre}" required>
                </div>
                <div class="form-group col-md-6">
                    <label>Gender</label>
                    <select name="gender" class="custom-select form-control" th:field="*{genero}">
                         <option th:each="genero : ${generos}" name="genero"
                                 th:value="${genero}" th:text="${genero}">
                         </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" id="description" placeholder="Description" th:field="*{descripcion}" required> </textarea>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Price</label>
                    <input type="number" class="form-control" id="price" placeholder="$$" th:field="*{precio}" required>
                </div>
                <div class="form-group col-md-6">
                    <label>Brand</label>
                    <select name="brand" class="custom-select form-control" th:field="*{marca}">
                        <option th:each="brand : ${brands}" name="brand"
                                 th:value="${brand.id}" th:text="${brand.nombre}">
                         </option>
                    </select>
                </div>
            </div >
            <label for="feat" style="display: inline-flex; align-items: center;">
			    Featured
			    <input type="checkbox" id="feat" name="feat" th:checked="${feat}" style="margin-left: 5px;" />
			</label>
                <div class="mb-3">
                    <label>Image</label>
                    <input type="file" class="form-control-file form-control" name="file" id="archivo" accept=".png">
                </div>
                
                
                
                <button type="submit" class="btn btn-primary submit">Add Product</button>
            
        </form>
    
    <h2 class="text-black m-5 text-center"><i class="fa fa-circle-plus mr-4"></i>Add Brand</h2>
    

    <form class="formprod mt-5 p-5 align-self-center" method="post" th:action="@{/admin/saveBrand}"  th:object="${brand}">
    	<input type="hidden" th:field="*{id}">
    
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" th:field="*{nombre}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="desciption" placeholder="Description" th:field="*{descripcion}" required>
            </div>
        </div>

            <button type="submit" class="btn btn-primary submit">Add Brand</button>
    </form>


</div>



    <script th:src="@{/js/sidebar.js}"></script>
    <script th:src="@{/js/imagepng.js}"></script>


</body>

</html>